<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- BEGIN: Ejemplos básicos -->
	<bean id="helloWorld" class="es.indra.formacion.springhibernate.basico.HelloWorld">
		<constructor-arg name="message" value="Initialized at the constructor"/>
	</bean>
	
	<bean id="holaMundo" class="es.indra.formacion.springhibernate.basico.HolaMundo"
			scope="prototype">
		<constructor-arg name="mensaje" value="Inicializado en el constructor"/>
	</bean>

	<bean id="envoltorio" class="es.indra.formacion.springhibernate.basico.Envoltorio">
		<property name="holaMundo" ref="helloWorld"/>
	</bean>
	<!-- END: Ejemplos básicos -->

	<!-- BEGIN: Aplicación Libros -->
	<bean id="libroDao" class="es.indra.formacion.springhibernate.dao.LibroMockDao" />

	<bean 
		id="libroService" 
		class="es.indra.formacion.springhibernate.service.LibroService"
		init-method="init">
		
		<property name="libroDao" ref="libroDao" />
	</bean>

	<bean id="principal" class="es.indra.formacion.springhibernate.gui.Principal">
		<property name="libroService" ref="libroService"/>
	</bean>
	<!-- END: Aplicación Libros -->
</beans>